# 자료형

## 리스트 자료형

In [2]:
import string

a = []
for char in string.ascii_lowercase[0:8]:
    a.append(char)

In [3]:
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [19]:
#inf 01. 아래 Dict 데이터에서 사용자 입력으로 키 검색 후 값 반환

Dic =  {'USA':36, 'Germany':17, 'France':32}

inp = input('Key를 입력하세요: ')

def dictInput(inp) :
    if inp in Dic :
        return Dic[inp]
    return '다시 입력해주세요'

print(dictInput(inp))

Key를 입력하세요:  France

32

In [23]:
def search_dict(word):
    c = dict((new_k.lower(), new_val) for new_k, new_val in d.items())

### 리스트 연산하기

## 02장. 되새김 문제

#### 홍길동씨 평균 점수 구하기

In [38]:
hong = {'국어': 80, '수학': 55, '영어' : 75}
score = list(hong.values())

print(f'홍길동 씨의 평균 점수는: {sum(score)/len(score)}점입니다.')

홍길동 씨의 평균 점수는: 70.0점입니다.

#### 홀수, 짝수 판별하기

In [41]:
a = int(input('홀짝을 판별하고 싶은 숫자를 입력하세요: '))

def int_a(a) :
    if a % 2 == 0 :
        return f'{a}는 짝수입니다.'
    else :
        return f'{a}은 홀수입니다.'
    
print(int_a(a))

홀짝을 판별하고 싶은 숫자를 입력하세요:  13

13은 홀수입니다.

#### 주민등록번호 나누기

In [61]:
from datetime import datetime

hongPin = "881120-1068234"

y = hongPin[0:6]
n = hongPin[8:]

print(f'19{y[0:2]}년 {y[2:4]}월 {y[4:6]}일')
print(n)

1988년 11월 20일
068234

#### 주민등록번호 인덱싱

In [69]:
hongPin2 = "881120-1068234"

def jender(hongPin2) :
    str0 = int(hongPin2[7])
    if str0 == 1 or str0 == 3 :
        return '남자입니다.'
    else :
        return '여자입니다.'

print(jender(hongPin2))

남자입니다.

#### 문자열 바꾸기

In [71]:
a = "a:b:c:d"
b = a.replace(':', '#')
print(b)

a#b#c#d

#### 리스트 역순 정렬하기

In [89]:
lst = [1, 2, 5, 4, 3]

c = lst.copy()

c.sort()
print(c)

c.reverse()
print(c)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

#### 리스트를 문자열로 만들기

In [93]:
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print(result)

Life is too short

#### 튜플 더하기

In [97]:
a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

#### 딕셔너리의 키

In [98]:
a = dict()
a

{}

In [103]:
a['name'] = 'python' #기본형
# a[(a,)] = 'python' #타입에러
# a[[1]] = 'p' #타입에러
a[250] = 'python'

In [104]:
a

{'name': 'python', 250: 'python'}

#### 딕셔너리 값 추출하기

In [106]:
a = {'A': 90, 'B': 80, 'C': 70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

#### 리스트에서 중복 제거하기

In [109]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
print(aSet)

b = list(aSet)
print(b)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

#### 파이썬 변수

In [114]:
a = b = [1, 2, 3]
print(a)
print(b)

a[1] = 4
print(a)
print(b) #a와 b가 같은 리스트를 가리키고 있기 때문

[1, 2, 3]
[1, 2, 3]
[1, 4, 3]
[1, 4, 3]

## 03장 되새김 문제

#### 조건문의 참과 거짓

In [116]:
# shirt 출력

#### 3의 배수의 합 구하기

In [117]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0 :
        result += i
    i += 1
print(result)

166833

#### 별 표시하기

In [126]:
i = 0
while True :
    i += 1
    if i > 5 : 
        break
    print("*"*i)

*
**
***
****
*****

#### 1부터 100까지 출력하기

In [128]:
for i in range(101) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### 평균 점수 구하기

In [132]:
A = [70, 60, 55,75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A :
    total += score
average = total/len(A)
print(f'평균 점수는: {average}점 입니다.')

평균 점수는: 79.0점 입니다.

#### 리스트 컴프리헨션 사용하기

In [134]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1 :
        result.append(n*2)
print(result)

[2, 6, 10]

In [137]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

## 04장 되새김 문제

#### 홀수, 짝수 판별하기

In [140]:
a = int(input('숫자를 입력하세요: '))
def is_odd(number):
    if a % 2 == 1 :
        return True
    else:
        return False

print(is_odd(a))

숫자를 입력하세요:  14

False

#### 모든 입력의 평균값 구하기

In [ ]:
def avg_numbers(args) :
    a = list(args)
    return sum(a) / len(a)

args = map(int, input('숫자를 입력하세여: ').split(','))
print(avg_numbers(args))

#### 프로그램 오류 수정하기1

In [150]:
input1 = int(input('첫 번째 숫자를 입력하세요: '))
input2 = int(input('두 번째 숫자를 입력하세요: '))

total = input1 + input2
print('두 수의 합은 %s입니다' % total)

첫 번째 숫자를 입력하세요:  3
두 번째 숫자를 입력하세요:  6

두 수의 합은 9입니다

#### 출력 결과가 다른 것은?

In [151]:
# 3번 공백이 있음 혼자

#### 프로그램 오류 수정하기2

In [153]:
f1 = open("test.txt", "w")
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", "r")
print(f2.read())

Life is too short

#### 사용자 입력 저장하기

In [156]:
user_input = input("저장할 내용을 입력하세요: ")
f = open('test.txt', 'w')
f.write(user_input)
f.write('\n')
f.close()

저장할 내용을 입력하세요:  hi

#### 파일의 문자열 바꾸기

In [157]:
# test.txt

#### 입력값을 모두 더해 출력하기

In [158]:
#

In [1]:
#리스트 요소 제거 - remove

In [13]:
bag1 = []

In [14]:
# 장바구니
inp = input('필요한 항목을 넣어주세요: ').split()
bag1.extend(inp)
print(f'장바구니에는 {bag1}들이 있습니다.')

필요한 항목을 넣어주세요:  사과 바나나 키위

장바구니에는 ['사과', '바나나', '키위']들이 있습니다.

In [15]:
#FIFO 출력
hand = bag1.pop(0)
print(f'{hand}를 꺼내서 장바구니에 {bag1}이(가) 남았습니다.')

사과를 꺼내서 장바구니에 ['바나나', '키위']이(가) 남았습니다.

In [18]:
#선택 출력
bag2 = ['맥주', '피자', '햄버거']
print(f'장바구니에는 {bag2}가 있습니다.')

eat = input('꺼내고 싶은 음식을 입력하세요: ')
hand2 = bag2.pop(bag2.index(eat))
print(f'바구니에서 {hand2}를 꺼내어 {bag2}가 남았습니다.')

장바구니에는 ['맥주', '피자', '햄버거']가 있습니다.

꺼내고 싶은 음식을 입력하세요:  피자

바구니에서 피자를 꺼내어 ['맥주', '햄버거']가 남았습니다.

In [17]:
#remove는 리턴값이 없다
choice = 22
a = [11, 22, 33]
a.remove(choice)
print(f'{choice}을(를) 제거 하였습니다.')

22을(를) 제거 하였습니다.

In [22]:
#실습

bag3 = ['호박', '감자', '소주', '맥주', '피자']

test1 = input('추가할 물건 이름을 적어주세요: ')
test2 = input('어느 물품의 오른쪽에 넣어둘까요?: ')

idx = bag3.index(test2)+1
bag3[idx:idx] = [test1]

print(f'최종: {bag3}')

추가할 물건 이름을 적어주세요:  딸기
어느 물품의 오른쪽에 넣어둘까요?:  맥주

최종: ['호박', '감자', '소주', '맥주', '딸기', '피자']

In [23]:
bag = ['호박', '감자', '소주', '맥주', '피자']
thing = input('추가할 물건 이름을 적어주세요: ')
where = input('어느 물품의 오른쪽에 넣어둘까요?: ')

bag.insert(0, thing)
print(bag)

추가할 물건 이름을 적어주세요:  팝콘
어느 물품의 오른쪽에 넣어둘까요?:  2

['팝콘', '호박', '감자', '소주', '맥주', '피자']

In [32]:
#환율 계산기 만들기

def convert(test1) :
    exchange_rate = 1449.94
    return(test1 * exchange_rate)

test1 = int(input('원화로 계산할 달러를 입력하세요: '))

print(f'{test1}달러는 {convert(test1):,}원입니다.')

원화로 계산할 달러를 입력하세요:  14

14달러는 20,299.16원입니다.