# 외부 라이브러리

## pip *

## Faker

In [2]:
!pip install Faker

Collecting Faker
  Downloading Faker-36.1.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\jszxr\anaconda3\lib\site-packages (from Faker) (2023.3)
Downloading Faker-36.1.1-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 26.3 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-36.1.1

In [7]:
from faker import Faker
fake = Faker('ko-KR')
{'name':fake.name(), 'company':fake.company()}

{'name': '김선영', 'company': '최김한'}

<table style="float:left;width:400px">
<thead>
<tr>
<th>항목</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>fake.name()</td>
<td>이름</td>
</tr>
<tr>
<td>fake.address()</td>
<td>주소</td>
</tr>
<tr>
<td>fake.postcode()</td>
<td>우편 번호</td>
</tr>
<tr>
<td>fake.country()</td>
<td>국가명</td>
</tr>
<tr>
<td>fake.company()</td>
<td>회사명</td>
</tr>
<tr>
<td>fake.job()</td>
<td>직업명</td>
</tr>
<tr>
<td>fake.phone_number()</td>
<td>휴대전화 번호</td>
</tr>
<tr>
<td>fake.email()</td>
<td>이메일 주소</td>
</tr>
<tr>
<td>fake.user_name()</td>
<td>사용자명</td>
</tr>
<tr>
<td>fake.pyint(min_value=0, max_value=100)</td>
<td>0부터 100 사이의 임의의 숫자</td>
</tr>
<tr>
<td>fake.ipv4_private()</td>
<td>IP 주소</td>
</tr>
<tr>
<td>fake.text()</td>
<td>임의의 문장 (한글 임의의 문장은 <code>fake.catch_phrase()</code> 사용)</td>
</tr>
<tr>
<td>fake.color_name()</td>
<td>색상명</td>
</tr>
</tbody>
</table>

In [8]:
import sys

option = sys.argv[1]
memo = sys.argv[2]

print(option)
print(memo)

-f
C:\Users\jszxr\AppData\Roaming\jupyter\runtime\kernel-4c3ad4ab-0d04-404f-8b17-7973913fbd13.json

In [9]:
import requests as req
from bs4 import BeautifulSoup as bs

In [13]:
url = "https://www.melon.com/chart/index.htm"
headers = {'User-Agent':#네트워크 머리글 안에}
web = req.get(url, headers = headers)
soup = bs(web.content, 'html.parser')
# print(soup)
title = soup.select_one('.wrap_song_info')
# atitle = title.select_one('a')
# # print(title)
# name = title.select_one('.checkEllipsis')
# aname = name.select_one('a')
# print('1위: ', atitle.text, '/', aname.text)

SyntaxError: '{' was never closed (2208668206.py, line 2)

In [15]:
url = "https://www.pknu.ac.kr/main/399?action=view&no=718913"
web = req.get(url)
print(web)

<Response [200]>

In [ ]:
print(web.text)

In [17]:
soup = bs(web.text, 'html.parser')

In [23]:
# print(soup)
week = soup.select_one('#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(1) > td:nth-child(2) > p > span')
print(week.text)

Monday

In [24]:
week = []
for i in range(2,7):
    week_data = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(1) > td:nth-child({i}) > p > span')
    week.append(week_data.text)
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [27]:
week_day = []
for i in range(1,6):
    week_day_data = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(2) > td:nth-child({i}) > p > strong > span')
    week_day.append(week_day_data.text)
print(week_day)

['2월 17일', '2월 18일', '2월 19일', '2월 20일', '2월 21일']

In [28]:
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child(2) > span:nth-child(1)
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child(2) > span:nth-child(3)
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child(3) > span
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child(11) > span

#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child(1) > span:nth-child(2)
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child(1) > span:nth-child(4)

In [49]:
ban = []
bap = []
for i in range(2, 12):
    ban_data = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child({i}) > span')
    ban.append(ban_data.text)
for j in range(3,4):
    bap_data = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child(2) > span:nth-child({j})')
    bap.append(bap_data.text)
        
print(ban)
print(bap)

all = ban + bap
print(all)

bap_lst = [item for item in all if "밥" in item]
print(bap_lst)
ban_lst = [item for item in all if not "밥" in item]
print(ban_lst)

['흑미밥', '곤약탕국', '깐풍육', '볼어묵조림', '해파리냉채', '배추된장무침', '그린샐러드', '키위', '푸실리오일샐러드', '배추김치']
['현미밥']
['흑미밥', '곤약탕국', '깐풍육', '볼어묵조림', '해파리냉채', '배추된장무침', '그린샐러드', '키위', '푸실리오일샐러드', '배추김치', '현미밥']
['흑미밥', '현미밥']
['곤약탕국', '깐풍육', '볼어묵조림', '해파리냉채', '배추된장무침', '그린샐러드', '키위', '푸실리오일샐러드', '배추김치']

In [70]:
import pandas as pd
df = pd.DataFrame({
    "요일" : week,
    "날짜" : week_day,
})

In [71]:
df.index = range(1, len(df) + 1)

In [72]:
df

          요일      날짜
1     Monday  2월 17일
2    Tuesday  2월 18일
3  Wednesday  2월 19일
4   Thursday  2월 20일
5     Friday  2월 21일

In [73]:
df = df.T

In [74]:
df

         1        2          3         4       5
요일  Monday  Tuesday  Wednesday  Thursday  Friday
날짜  2월 17일   2월 18일     2월 19일    2월 20일  2월 21일

In [96]:
ban = []
for i in range(3, 12):
    ban_data = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(2) > p:nth-child({i}) > span')
    ban.append(ban_data.text)
print(ban)

ban1 = []
for i in range(2, 11):
    ban_data1 = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child({i}) > span')
    ban1.append(ban_data1.text)
    
print(ban1)

ban2 = []
for i in range(2, 11):
    ban_data2 = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(4) > p:nth-child({i}) > span')
    ban2.append(ban_data2.text)
print(ban2)

ban3 = []
for i in range(3, 12):
    ban_data3 = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(5) > p:nth-child({i}) > span')
    ban3.append(ban_data3.text)
print(ban3)

ban4 = []
bap4 = []
for i in range(1, 12):
    ban_data4 = soup.select_one(f'#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(6) > p:nth-child({i}) > span')
    if ban_data4 :
        ban4.append(ban_data4.text)
    else : 
        pass
print(ban4)

['곤약탕국', '깐풍육', '볼어묵조림', '해파리냉채', '배추된장무침', '그린샐러드', '키위', '푸실리오일샐러드', '배추김치']
['시락국', '돈육볶음', '버섯고추장구이', '알감자조림', '호박나물', '그린샐러드', '흑임자', '콘슬로우샐러드', '깍두기']
['조갯살미역국', '돈육김치찜', '순대볶음', '무생채', '시래기조림', '그린샐러드', '석류', '펜네샐러드', '베추김치']
['달걀국', '닭볶음', '야채고로케', '오이지무침', '우엉채조림', '그린샐러드', '참깨', '마카로니샐러드', '깍두기']
['유부비빔밥', '우동국물', '생선까스', '쫄면야채무침', '단무지무침', '산고추오이피클', '야구르트', '그린샐러드', '딸기', '배추김치']

In [75]:
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child(2) > span
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child(3) > span
#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(3) > p:nth-child(10) > span

#subCont > div > div.bdvTxt_wrap > div > div > div:nth-child(18) > table > tbody > tr:nth-child(3) > td:nth-child(6) > p:nth-child(1) > span

In [83]:
mon_bap = [bap_lst[0]]*4
print(mon_bap)
mon_bap.append(ban4[0])

['흑미밥/현미밥', '흑미밥/현미밥', '흑미밥/현미밥', '흑미밥/현미밥']

In [84]:
print(mon_bap)

['흑미밥/현미밥', '흑미밥/현미밥', '흑미밥/현미밥', '흑미밥/현미밥', '유부비빔밥']

In [103]:
ban_lst = [", ".join(ban) for ban in [ban, ban1, ban2, ban3, ban4[1:]]]
print(ban_lst)

['곤약탕국, 깐풍육, 볼어묵조림, 해파리냉채, 배추된장무침, 그린샐러드, 키위, 푸실리오일샐러드, 배추김치', '시락국, 돈육볶음, 버섯고추장구이, 알감자조림, 호박나물, 그린샐러드, 흑임자, 콘슬로우샐러드, 깍두기', '조갯살미역국, 돈육김치찜, 순대볶음, 무생채, 시래기조림, 그린샐러드, 석류, 펜네샐러드, 베추김치', '달걀국, 닭볶음, 야채고로케, 오이지무침, 우엉채조림, 그린샐러드, 참깨, 마카로니샐러드, 깍두기', '우동국물, 생선까스, 쫄면야채무침, 단무지무침, 산고추오이피클, 야구르트, 그린샐러드, 딸기, 배추김치']

In [104]:
df = pd.DataFrame({
    "요일": week,
    "날짜": week_day,
    "밥": mon_bap, 
    "반찬": ban_lst
})

print(df)

          요일      날짜        밥  \
0     Monday  2월 17일  흑미밥/현미밥
1    Tuesday  2월 18일  흑미밥/현미밥
2  Wednesday  2월 19일  흑미밥/현미밥
3   Thursday  2월 20일  흑미밥/현미밥
4     Friday  2월 21일    유부비빔밥

                                                  반찬
0  곤약탕국, 깐풍육, 볼어묵조림, 해파리냉채, 배추된장무침, 그린샐러드, 키위, 푸실...
1  시락국, 돈육볶음, 버섯고추장구이, 알감자조림, 호박나물, 그린샐러드, 흑임자, 콘...
2  조갯살미역국, 돈육김치찜, 순대볶음, 무생채, 시래기조림, 그린샐러드, 석류, 펜네...
3  달걀국, 닭볶음, 야채고로케, 오이지무침, 우엉채조림, 그린샐러드, 참깨, 마카로니...
4  우동국물, 생선까스, 쫄면야채무침, 단무지무침, 산고추오이피클, 야구르트, 그린샐러...

In [101]:
ban_lst = [", ".join(ban_lst)] + [", ".join(ban) for ban in [ban, ban1, ban2, ban3, ban4[1:]]]

In [105]:
df.T

,0,1,2,3,4
요일,Monday,Tuesday,Wednesday,Thursday,Friday
날짜,2월 17일,2월 18일,2월 19일,2월 20일,2월 21일
밥,흑미밥/현미밥,흑미밥/현미밥,흑미밥/현미밥,흑미밥/현미밥,유부비빔밥
반찬,"곤약탕국, 깐풍육, 볼어묵조림, 해파리냉채, 배추된장무침, 그린샐러드, 키위, 푸실...","시락국, 돈육볶음, 버섯고추장구이, 알감자조림, 호박나물, 그린샐러드, 흑임자, 콘...","조갯살미역국, 돈육김치찜, 순대볶음, 무생채, 시래기조림, 그린샐러드, 석류, 펜네...","달걀국, 닭볶음, 야채고로케, 오이지무침, 우엉채조림, 그린샐러드, 참깨, 마카로니...","우동국물, 생선까스, 쫄면야채무침, 단무지무침, 산고추오이피클, 야구르트, 그린샐러..."